*{
    margin: 0;
    padding: 0;
    border: 0;
}

form{
    background-color: dimgrey;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
}

#calc { 
    display: grid;
    grid-area: 2 / 5 / 8 / 9; 
    background-color: black;
    border: 0.4vh solid rgb(31, 31, 31);
    box-shadow: 0 0 0 1vh black;
    grid-template: repeat(8, 1fr) / repeat(6, 1fr);
    border-radius: 5%;
    min-width: 50vh;
    justify-items: center;
}

#display{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times;
    border-radius: 4% 4% 0 0/ 15% 15% 0 0;
    width: 98%;
    height: 94.5%;
    grid-area: 1 / 1 / 3 / span 6;
    align-self: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-flow: column;
}

.dis{
    padding-right: 2vh;
    padding-left: 2vh;
    text-align: right;
}

#op{
    font-size: 3vh;
}

#VRes{
    font-size: 10vh;
}

#teclado{
    display: grid;
    width: 98%;
    height: 98.5%;
    border-radius:  0 0 4% 4% / 0 0 7% 7%;
    grid-area: 3 / 1 / span 6 / span 6;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.botao{
    display: flex;
    width: 85%;
    height: 85%;
    background-color: #dddddd;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: 5vh;
    box-shadow: 0px 0.6vh 0 #585858;
}

.botao:active{
    position:relative;
    top: 5px;
    box-shadow: none;
}

#resultado{
    background-color: lawngreen;
}

#apagar{
    width: 5vh;
    height: 5vh;
}

.none{
    display: none;
}